
latex/cap3.aux

latex/cap1.aux

latex/cap5.aux

latex/capa.aux

latex/dedicatoria.aux

latex/epigrafe.aux

latex/resumo.aux

latex/rosto.aux

latex/tcc.aux

latex/tcc.lof

latex/tcc.log

latex/tcc.out

latex/tcc.synctex.gz

latex/tcc.toc

.DS_Store

*.aux

latex/tcc.fdb_latexmk
